In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("heart.csv")

In [3]:
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,NaN,140,289,0,NormalATA,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   917 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [5]:
df=pd.DataFrame(data)
data1=df.drop(["Sex","ChestPainType","FastingBS","RestingECG"], axis = 1)

In [6]:
data1

,Age,RestingBP,Cholesterol,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,140,289,172,N,0.0,Up,0
1,49,160,180,156,N,1.0,Flat,1
2,37,130,283,98,N,0.0,Up,0
3,48,138,214,108,Y,1.5,Flat,1
4,54,150,195,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...
913,45,110,264,132,N,1.2,Flat,1
914,68,144,193,141,N,3.4,Flat,1
915,57,130,131,115,Y,1.2,Flat,1
916,57,130,236,174,N,0.0,Flat,1
917,38,138,175,173,N,0.0,Up,0

In [7]:
x=data1.iloc[:,0:4]
x

     Age  RestingBP  Cholesterol  MaxHR
0     40        140          289    172
1     49        160          180    156
2     37        130          283     98
3     48        138          214    108
4     54        150          195    122
..   ...        ...          ...    ...
913   45        110          264    132
914   68        144          193    141
915   57        130          131    115
916   57        130          236    174
917   38        138          175    173

[918 rows x 4 columns]

In [8]:
y=data1.iloc[:,-1:]

In [9]:
y

     HeartDisease
0               0
1               1
2               0
3               1
4               0
..            ...
913             1
914             1
915             1
916             1
917             0

[918 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [12]:
x_train.head(2)

     Age  RestingBP  Cholesterol  MaxHR
651   61        140          207    138
149   54        130          603    125

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
obj=LogisticRegression()

In [15]:
obj.fit(x_train,y_train)

C:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [16]:
x_test.head(5)

     Age  RestingBP  Cholesterol  MaxHR
850   62        160          164    145
894   58        130          197    131
566   41        150          171    128
549   68        139          181    135
180   52        130          225    120

In [17]:
y_test.head(5)

     HeartDisease
850             1
894             0
566             0
549             0
180             1

In [18]:
from sklearn.metrics import r2_score

In [19]:
y_pred=obj.predict(x_test)

In [20]:
r2_score(y_pred,y_test)

-0.20579710144927543

In [21]:
zx=np.array([38,110,190,150])

In [22]:
zx.reshape(-1,1)

array([[ 38],
       [110],
       [190],
       [150]])

In [23]:
obj.predict([zx])

C:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [24]:
import joblib

In [25]:
joblib.dump(obj,"heart_disease_check.joblib")

['heart_disease_check.joblib']